textarea {
    resize: none;
}
#count_message {
    font-size: 14px;
    color: grey;
    opacity: 80%;
    background-color: smoke;
    margin-top: -10px;
    margin-right: 18px;
    z-index: inherit;
  }
#text::placeholder{
    color: grey;
    opacity: 50%;
}
#file_browse{
    margin-top: -30px;
}
    